.placeholder-dots {
  position: absolute;
  top: 560px;
  left: 48px;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  z-index: 1;
}
.placeholder-dots,
.placeholder-dots1,
.placeholder-dots2 {
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
}
.placeholder-dots1 {
  position: absolute;
  top: 561px;
  left: 56px;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  z-index: 1;
}
.placeholder-dots2 {
  top: 562px;
  left: 46px;
}
.feature-icons-row,
.feature-icons-row1,
.placeholder-dots2,
.placeholder-dots3 {
  position: absolute;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  z-index: 1;
}
.placeholder-dots3 {
  top: 562px;
  left: 51px;
  background-color: var(--color-skyblue-200);
}
.feature-icons-row,
.feature-icons-row1 {
  top: 558px;
}
.feature-icons-row {
  left: 46px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
}
.feature-icons-row1 {
  left: 50px;
  background-color: var(--light-white-color);
}
.feature-icons-row2 {
  top: 558px;
  left: 53px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
}
.feature-icons-row2,
.feature-icons-row3,
.feature-icons-row4,
.feature-icons-row5 {
  position: absolute;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  z-index: 1;
}
.feature-icons-row3 {
  top: 558px;
  left: 57px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
}
.feature-icons-row4,
.feature-icons-row5 {
  top: 557px;
}
.feature-icons-row4 {
  left: 55px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
}
.feature-icons-row5 {
  left: 48px;
  background-color: var(--color-skyblue-200);
}
.frame-child30,
.frame-child31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 323px;
  height: 471.1px;
  object-fit: cover;
}
.frame-child31 {
  top: 329px;
  left: 1px;
  width: 318px;
  height: 229px;
  z-index: 1;
}
.feature-icons-row-parent,
.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.image-2-icon {
  top: 27px;
  left: 15px;
  width: 292px;
  height: 536px;
  object-fit: cover;
  z-index: 3;
}
.image-placeholder {
  height: 563px;
  width: 323px;
  position: relative;
  max-width: 100%;
}
