Body {
  position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('/public/mirissa-1\ 1.png'); */
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center;
    background-repeat: no-repeat; /* Prevents tiling of the image */
    height: 100vh; /* Ensures it covers full viewport height */
    background-color: rgba(red, green, blue, alpha);
  }