/* AddPlaceForm.css */
.add-place-form-container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-place-form-container h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 40px;
    color: #020202;
  }
  
  .add-place-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-place-form-container label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 19px;
  }
  
  .add-place-form-container input[type="text"],
  .add-place-form-container textarea,
  .add-place-form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    
  }
  
  .add-place-form-container textarea {
    resize: vertical;
    min-height: 90px;
  }
  
  .add-place-form-container button {
    padding: 13px;
    background-color: #1389ef;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 723px;
    text-align: center;
    
  
  }
  
  .add-place-form-container button:hover {
    background-color: #0f059e;
  }
  