.frame-child11 {
  width: 414px;
  height: 606px;
  position: relative;
  box-shadow: 41.4px -41.4px 41.43px rgba(165, 165, 165, 0.1) inset,
    -41.4px 41.4px 41.43px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(82.87px);
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.sign-in {
  margin: 0;
  position: relative;
  font-size: var(--font-size-23xl);
  line-height: 46px;
  font-weight: 700;
  font-family: var(--font-jaldi);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 128.6px;
  z-index: 1;
}
.sign-in-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-base-5) var(--padding-26xl);
}
.email {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--font-jaldi);
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  min-width: 60.7px;
  z-index: 1;
}
.email-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.rectangle-input {
  font-size: 20px;
  padding: 10px;
  border: 2px solid var(--color-gray-500);
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  align-self: stretch;
  height: 57px;
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  min-width: 212px;
  z-index: 1;
}
.email-input-parent,
.frame-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-input-parent {
  flex: 1;
  flex-direction: column;
  gap: 3.1px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) var(--padding-8xs-6) var(--padding-8xs);
  box-sizing: border-box;
}
.login-button,
.password {
  position: relative;
  z-index: 1;
}
.password {
  margin: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--font-jaldi);
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  min-width: 112.1px;
}
.login-button {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 2px solid var(--color-gray-500);
}
.forgot-password1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  cursor: pointer;
  z-index: 3;
}
.account-question,
.password-input,
.password-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-question {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.password-input,
.password-label {
  align-self: stretch;
  max-width: 100%;
}
.password-label {
  flex: 1;
  flex-direction: column;
  gap: 3.4px;
}
.password-input {
  height: 115.3px;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 3.5px var(--padding-8xs);
  box-sizing: border-box;
}
.sign-in-btn-child {
  height: 70.5px;
  width: 353.8px;
  position: relative;
  border-radius: var(--br-smi);
  background: linear-gradient(90deg, #4297b3, #1c5466);
  display: none;
  max-width: 100%;
}
.sign-in1 {
  height: 39.1px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 108%;
  display: inline-block;
  font-family: var(--font-jaldi);
  color: var(--light-white-color);
  text-align: left;
  min-width: 97.7px;
  z-index: 1;
}
.separator,
.sign-in-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-7) var(--padding-xl) var(--padding-base-7)
    var(--padding-2xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-smi);
  background: linear-gradient(90deg, #4297b3, #1c5466);
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.separator {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-8xs);
}
.dont-you-have,
.sign-up {
  margin-left: 4px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 108%;
  font-family: var(--font-lato);
  text-align: left;
  display: inline-block;
}
.dont-you-have {
  height: 21px;
  color: var(--color-black);
  z-index: 1;
}
.sign-up {
  color: var(--color-whitesmoke-100);
  min-width: 46px;
  white-space: nowrap;
  z-index: 2;
}
.dont-you-have-any-account-alr-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.or {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 16.8px;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 17.5px;
  z-index: 1;
}
.icons-facebook {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.frame-div,
.or-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: 21.6px;
}
.or-label {
  width: 358px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.line-div {
  height: 0;
  width: 150.2px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.line-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.ellipse-group {
  height: 6px;
  width: 12px;
  position: relative;
}
.icons8-google-48-1 {
  width: 49.4px;
  height: 53.7px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.icons8-google-48-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
}
.icons8-facebook-48-1 {
  height: 53.7px;
  width: 49.4px;
  position: relative;
  object-fit: contain;
  min-height: 54px;
  z-index: 1;
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent2 {
  justify-content: flex-start;
  gap: 14.3px;
}
.frame-wrapper1 {
  width: 338.9px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  gap: 29.9px;
  margin-top: -2.3px;
}
.facebook-login,
.frame-parent1,
.frame-wrapper,
.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.facebook-login {
  align-self: stretch;
}
.frame-wrapper,
.rectangle-container {
  box-sizing: border-box;
}
.rectangle-container {
  margin: 0;
  align-self: stretch;
  box-shadow: 41.4px -41.4px 41.43px rgba(165, 165, 165, 0.1) inset,
    -41.4px 41.4px 41.43px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(82.87px);
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  padding: var(--padding-28xl) 19px 0 var(--padding-6xl);
  gap: var(--gap-xl);
}
.frame-wrapper {
  width: 414px;
  padding: 73px 0 0;
  min-width: 414px;
}
.frame-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background: linear-gradient(-89.82deg, #2f91b0, #206175 64.5%, #143d4a);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child24,
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 263px;
  height: 410.3px;
  object-fit: cover;
}
.frame-child24 {
  top: 286.6px;
  height: 199.4px;
  z-index: 1;
}
.frame-child25,
.frame-parent4 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
}
.frame-child25 {
  top: 19px;
  left: 0;
  width: 267px;
  height: 467px;
  object-fit: cover;
  z-index: 2;
}
.frame-parent3,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.group-div {
  top: 120px;
  left: 132px;
  width: 267px;
  height: 486px;
  z-index: 1;
}
.rectangle-parent1 {
  height: 707px;
  width: 531px;
  position: relative;
  border-radius: var(--br-31xl);
  background: linear-gradient(-89.82deg, #2f91b0, #206175 64.5%, #143d4a);
  min-width: 531px;
  max-width: 100%;
}
.frame-group,
.header,
.homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-group {
  flex: 1;
  background: linear-gradient(89.76deg, #2d8dab, #81c1d5 36.5%, #285a6d);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  padding: 104px var(--padding-xl) 85px 177px;
  row-gap: 20px;
  max-width: 100%;
}
.header,
.homepage {
  justify-content: flex-start;
}
.header {
  flex: 1;
  background-color: var(--light-white-color);
  overflow: hidden;
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}


@media screen and (max-width: 1150px) {
  .frame-wrapper,
  .rectangle-parent1 {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
    padding-left: 88px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sign-in {
    font-size: var(--font-size-15xl);
    line-height: 36px;
  }
  .rectangle-parent1 {
    min-width: 100%;
  }
  .frame-group {
    padding-top: 68px;
    padding-bottom: 55px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper,
  .rectangle-container {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frame-wrapper {
    padding-top: var(--padding-28xl);
    min-width: 100%;
  }
  .frame-group {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sign-in {
    font-size: var(--font-size-6xl);
    line-height: 27px;
  }
  .email,
  .password {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .forgot-password1 {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .dont-you-have-any-account-alr-parent,
  .line-parent {
    flex-wrap: wrap;
  }
  .frame-group {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-25xl);
    padding-bottom: 36px;
    box-sizing: border-box;
  }
}

.error {
  color: red;
  margin-top: 10px;
}
