/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(89.76deg, #2d8dab, #81c1d5 36.5%, #285a6d);
    overflow: hidden;
  }
  
  /* Form container styles */
  .form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 30px;
    width: 280px;
    max-width: 90%;
    text-align: center;
  }
  
  .form-container h2 {
    color: #000;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    text-align: left;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    color: #000;
    text-decoration: none;
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  
  .form-container button {
    width: 80%;
    padding: 10px;
    background-color: #2f91b0;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Center the button */
}
  
  .form-container button:hover {
    background-color: #206175;
  }
  
  .signup-text {
    font-size: 0.8em;
    color: #000;
    margin-top: 15px;
  }
  
  .signup-text a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Image container styles */
  .image-container1 {
    background: linear-gradient(-89.82deg, #2f91b0, #206175 64.5%, #143d4a);
    border-radius: 40px;
    width: 30%;
    height: 79%;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .centered-image {
    width: 45%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 15px;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  
  .image-placeholder {
    width: 90%;
    height: 90%;
    /* background-image: url('path_to_your_image'); */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .login-page {
      flex-direction: column;
    }
  
    .image-container {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .image-container1 {
      display: none;
    }
  }