.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: rgb(33, 150, 243);
    border-bottom: 1px solid #ddd;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    height: 80px;
    margin-right: 10px;
  }
  
  .user-section .icon {
    margin-left: 20px;
    height: 30px;
  }

.App-name {
  color: white;
  font-size: 50px;
}