.code-input {
  width: 12px;
  height: 6px;
  position: relative;
}
.verification-code1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mid-5);
}
.send-button-child {
  height: 70.5px;
  width: 353.8px;
  position: relative;
  border-radius: var(--br-smi);
  background: linear-gradient(90deg, #4297b3, #1c5466);
  display: none;
  max-width: 100%;
}
.send1 {
  width: 97.7px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 35px;
  display: inline-block;
  font-family: var(--font-jaldi);
  color: var(--light-white-color);
  text-align: left;
  flex-shrink: 0;
  z-index: 2;
}
.send-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-base-5)
    var(--padding-51xl);
  background-color: transparent;
  width: 353.8px;
  border-radius: var(--br-smi);
  background: linear-gradient(90deg, #4297b3, #1c5466);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: calc(100% - 32px);
  z-index: 1;
}
.verification-code-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
@media screen and (max-width: 1025px) {
  .send1 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .send1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
}
